---
layout: default
---
<div class="fixed w-full z-[1000] top-0">
    {% include navbar.html %}
</div>

<div class="docs-main-container" style="margin-top: 64px;">
    {{ content }}
</div>

{% include footer.html %}

<style>
    /* Paksa Sidebar dan Header Tema turun ke bawah Navbar Anda */
    .side-bar { 
        top: 64px !important; 
        height: calc(100vh - 64px) !important; 
    }
    .main-header { 
        top: 64px !important; 
        background-color: #111; /* Sesuaikan dengan tema dark Anda */
    }
    /* Mencegah konten tertutup footer jika kontennya sedikit */
    .main-content-wrap {
        min-height: calc(100vh - 200px);
    }
</style>